@import 'bootstrap';
@import 'bootstrap/theme';

.app-content{
	margin-left: 40px;
	margin-right: 40px;
}

.gl-preview-container{
	@media screen and (max-width: 1250px ){
		display: table;
		margin:auto;
	}

	@media screen and (min-width:1251px ){
		float: right !important;
	}
}

.gl-canvas{
		margin-top: 5px;
		margin-bottom: 20px;
}

.shader-editor{
	height:500px;
	width:100%;
}

.error-log{
	margin-left: 20px;
	vertical-align: middle;
	display: table-cell;
	margin: auto;
}

.error-log-text{
	padding-left: 10px;
}

.error-cross{
	color : red;
	padding-left: 15px;
}

.shader-log{
	cursor: pointer;
}

.inline-block{
	display: inline-block;
}
