@import 'bootstrap';
@import 'bootstrap/theme';

.gl-canvas{
		display: block;
		margin: auto;
}

.error-log{
	margin-left: 20px;
	vertical-align: middle;
	display: table-cell;
	margin: auto;
}

.error-log-text{
	padding-left: 10px;
}

.error-cross{
	color : red;
	padding-left: 15px;
}

.shader-log{
	padding-top: 20px;
}
