#app{
	height:100vh;
	background: #E0E0E0;
}

body{
	margin:0;
}

.gl-preview-container{
	@media screen and (max-width: 1250px ){
		display: table;
		margin:auto;
	}

	@media screen and (min-width:1251px ){
		float: right !important;
	}
}

.gl-canvas{
		margin-top: 25px;
		margin-bottom: 20px;
}



.error-log-text{
	vertical-align: top;
}

.project-explorer-text
{
	vertical-align: top;
}

.folder{
	padding-left: 5px;
	cursor: pointer;
}

.file{
	cursor: pointer;
}
